$color-primary: #003c5c;
$color-primary-text: #fff;
$color-secondry: #f02242;

$color:(
    primary: #003c5c,
    primary-light: lighten($color-primary,50%),
    primary-text: #fff,
    secondry: #f02242
);

$color-light:(
    primary: tint($color-secondry, 4%)
);


$font:(
    xs: 11px,
    sm: 12px,
    nr: 14px,
    lg: 30px,
    xlg: 36px,
)