.main-header{

    .logo img{
        max-width: 100%;
    }

    .navbar-default{
        background-color: transparent;
        border: none;
        margin-top: 30px;
    }

    .navbar-default .navbar-nav > .active > a{
        background-color: lighten($color-secondry, 10%);
        color: $color-primary-text;
    }

    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus{
        background-color: $color-secondry;
        color: $color-primary-text;
    }

}//main-header